.page-equip-analysis {
  padding: 0 0 20px 16px;
  height: 100%;
  width: 1600px;
  margin: 0 auto;
  .ant-card-head {
    padding: 0 0 0 7px;
  }
  .ant-card-head-title {
    padding: 6px 0;
  }
  .ant-card-body {
    padding: 20px 0 10px 7px;
  }

  .content-top {
    margin: 0 auto;
    width: 100%;
  }
  .equip-item {
    width: 149px;
    min-height: 140px;
    margin-right: 9px;
    margin-bottom: 10px;
  }

  .analysis-item {
    margin-bottom: 4px;
  }

  .analysis-value {
    padding: 0 4px;
    border-radius: 4px;
    cursor: default;

    & + .analysis-value {
      margin-left: 2px;
    }
  }

  .analysis-main-attr {
    margin-left: 4px;
    font-weight: 500;
  }

  .neck {
    background-color: #e1ffff;
  }

  .full {
    background-color: Green;
    color: #fff;
    font-weight: 500;
  }

  .rare {
    background-color: DarkOrange;
    color: #fff;
    font-weight: 500;
  }

  .extreme {
    background-color: OrangeRed;
    color: #fff;
    font-weight: 500;
  }

  .european {
    background-color: #9400d3;
    color: #fff;
    font-weight: 500;
  }

  .important {
    border-color: #bbb;
    background-color: #f6f6f6;
  }

  .background {
    width: 30px;
    height: 30px;
    margin-right: 6px;
    border: 1px solid #eee;
    border-radius: 50%;
  }

  .suit-name-wrap {
    height: 38px;
    padding: 0 6px;
  }

  .extendCountArea {
    & > div {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 0 4px;
      margin-right: 8px;
      margin-bottom: 4px;
    }
  }
}
